
    <table>
        <tr>
            <th>Contact Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        {% for contact in contact_account %}
        <tr>
            <td>
                <a href= '{% url "contact_account_detail" id=contact.contact_id %}'>{{ contact_account.first_name }} {{ contact_account.last_name }}</a>
            </td>
            <td>
                {{ contact_account.email }} 
            </td>
            <td>
                {{ contact_account.phone }}
            </td>
        </tr>
        {% endfor %}
    </table>
    
 

